
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply inline-flex px-5 py-2.5 rounded-full text-white font-semibold transition-all duration-300 ease-in-out;
    
    background-color: #2E56A0;
    
    &:hover {
      background-color: #254580;
      box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1); 
    }
  }
}
